/* body.dark-mode {classname} to specify dark mode styles */

body.dark-mode {
    background-color: rgb(20, 21, 22);
    color: rgb(206, 212, 226);
    transition: .2s; /* transition into dark mode */
}

body.dark-mode .dark-title {
  color: rgb(38, 186, 164);
  transition: .2s;
}

body.dark-mode .button-dark {
  color: rgb(20, 21, 22);
  transition: .2s;
}