body {
  background-color: rgb(235, 235, 235);
  transition: .1s; /* transition back into light mode */
}
header {
  background-image: url(../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER STYLES */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1080px;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 10rem;
}

.logo {
  margin: 7rem 0 2rem 0;
}

.header-title {
  font-size: 2.3rem;
  color: hsl(210, 10%, 33%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.header-paragraph {
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  max-width: 65%;
  text-align: center;
  margin-bottom: 2rem;
}

.header-buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  min-width: 385px;
}

.buttons {
  border: 0;
  padding: .8rem 1.8rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-size: .95rem;
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

.ios-button {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 3px hsl(171, 68%, 36%); /* slight box shadow with a darker version of the background color */
  opacity: 1;
  transition: .2s ease-out;
}
.ios-button:hover, 
.ios-button:active, 
.ios-button:focus {
  opacity: .7;
}
.mac-button {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 3px hsl(233, 100%, 61%);
  opacity: 1;
  transition: .2s ease-out;
}
.mac-button:hover, 
.mac-button:active, 
.mac-button:focus {
  opacity: .7;
}

/* SECTION 1 STYLES */ 
.section1-container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; /* hides the side of the computer */
  margin-bottom: 8rem;
}

.section1-title {
  font-size: 2.3rem;
  color: hsl(210, 10%, 33%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.section1-paragraph {
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  max-width: 65%;
  text-align: center;
  margin-bottom: 5rem;
}

.laptop-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.laptop-display-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.laptop-image {
  min-width: 700px;
  position: relative;
  left: -100px;
}

.laptop-title {
  font-size: 1.5rem;
  color: hsl(210, 10%, 33%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  margin-bottom: .6rem;
  text-align: left;
}
.laptop-paragraph {
  font-size: .9rem;
  color: hsl(201, 11%, 66%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  max-width: 80%;
  margin-bottom: 2rem;
}  

/* SECTION 2 STYLES */
.section2-container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5rem;
}

.section2-title {
  font-size: 2.3rem;
  color: hsl(210, 10%, 33%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.section2-paragraph {
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  max-width: 60%;
  text-align: center;
  margin-bottom: 4rem;
}

/* SECTION 3 STYLES */
.section3-container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}

.section3-title {
  font-size: 2.3rem;
  color: hsl(210, 10%, 33%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.section3-paragraph {
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  max-width: 65%;
  text-align: center;
  margin-bottom: 4rem;
}

.icons-row1 {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8rem;
}

.icons-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  max-width: 100%;
}

.icons-title {
  font-size: 1.5rem;
  color: hsl(210, 10%, 33%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 600;
  margin-bottom: .6rem;
}

.icons-paragraph {
  font-size: .9rem;
  color: hsl(201, 11%, 66%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  max-width: 80%;
  text-align: center;
}
.snippets-p {
  margin-bottom: 1.2rem;
}
.preview-p {
  margin-bottom: .5rem;
}
.row1-image {
  padding-bottom: 1rem;
}

.icons-row2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0rem 1rem;
}

/* SECTION 4 STYLES */ 
.section4-container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

/* FOOTER STYLES */
.footer-container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2rem;
}

.footer-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin-left: 1rem;
}

.footer-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 45%;
  margin-right: 1rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 10px 50px;
  grid-template-areas: 
  "faqs privacy install"
  "contact press empty";
}

.grid-item {
  font-size: 1rem;
  color: hsl(201, 11%, 66%);
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: .2s;
}

.grid-item:hover, 
.grid-item:active, 
.grid-item:focus {
  color: hsl(210, 10%, 33%);
}

.faqs {
  grid-area: faqs;
}
.privacy {
  grid-area: privacy;
}
.install {
  grid-area: install;
}
.contact {
  grid-area: contact;
}
.press {
  grid-area: press;
}
.empty {
  grid-area: empty;
}

.social-icons {
  width: 24px;
  height: 24px;
  fill: hsl(210, 10%, 33%);
  transition: .2s ease-out;
  cursor: pointer;
  margin-left: 1.5rem;
}
.social-icons:hover, 
.social-icons:focus, 
.social-icons:active {
  fill: hsl(171, 66%, 44%);
}

.footer-logo {
  cursor: pointer;
}